<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.appedia.bassat.persistence.ImportStatementMapper">

    <cache/>

    <select id="getImportStatementsByStatus" parameterType="ImportStatus" resultType="ImportStatement">
        SELECT import_statement_id as importStatementId,
               import_datetime as importDateTime,
               link_user_email as linkUserEmail,
               link_account_number as linkAccountNumber,
               md5,
               status
        FROM import_statement
    </select>

    <insert id="insertImportStatement" parameterType="ImportStatement">
        INSERT INTO import_statement (import_datetime, link_user_email, link_account_number, md5, status)
        VALUES (#{importDateTime}, #{linkUserEmail}, #{linkAccountNumber}, #{md5}, #{status.statusCode})
    </insert>

</mapper>



