<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.appedia.bassat.persistence.ImportedStatementMapper">

    <cache/>

    <select id="getImportedStatementsByStatus" parameterType="ImportStatus" resultType="ImportedStatement">
        SELECT import_statement_id as importStatementId,
               import_datetime as importDateTime,
               link_user_id as linkUserId,
               link_account_number as linkAccountNumber,
               pdf_file_checksum as pdfFileChecksum,
               pdf_file_data as pdfFileData,
               status
        FROM import_statement
        WHERE status='P'
    </select>

    <insert id="insertImportedStatement" parameterType="ImportedStatement">
        INSERT INTO import_statement (import_datetime, link_user_id, link_account_number, pdf_file_checksum, pdf_file_data, status)
        VALUES (#{importDateTime}, #{linkUserId}, #{linkAccountNumber}, #{pdfFileChecksum}, #{pdfFileData}, #{status.statusCode})
    </insert>

</mapper>



