<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.appedia.bassat.persistence.ImportedStatementMapper">

    <cache/>

    <select id="getImportedStatementsByStatus" parameterType="ImportStatus" resultType="ImportedStatement">
        SELECT imported_statement_id as importedStatementId,
               import_datetime as importDateTime,
               link_user_id as linkUserId,
               link_account_identifier as linkAccountIdentifier,
               pdf_file_checksum as pdfFileChecksum,
               pdf_file_data as pdfFileData,
               status
        FROM imported_statement
        WHERE status = '#{statusCode}'
    </select>

    <insert id="insertImportedStatement" parameterType="ImportedStatement">
        INSERT INTO imported_statement (import_datetime, link_user_id, link_account_identifier, pdf_file_checksum, pdf_file_data, status)
        VALUES (#{importDateTime}, #{linkUserId}, #{linkAccountIdentifier}, #{pdfFileChecksum}, #{pdfFileData}, #{status.statusCode})
    </insert>

    <update id="updateImportedStatement" parameterType="ImportedStatement">
        UPDATE imported_statement
        SET import_datetime = #{importDateTime},
            link_user_id = #{linkUserId},
            link_account_identifier = #{linkAccountIdentifier},
            pdf_file_checksum = #{pdfFileChecksum},
            pdf_file_data = #{pdfFileData},
            status = #{status.statusCode}
        WHERE imported_statement_id = #{importedStatementId}
    </update>

</mapper>



