<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.appedia.bassat.persistence.StatementMapper">

    <cache/>

    <insert id="insertStatement" parameterType="Statement">
        INSERT INTO statement (account_identifier, source_ref, frequency, from_date, to_date)
        VALUES (#{accountIdentifier}, #{sourceRef}, #{frequency}, #{fromDate}, #{toDate})
    </insert>

    <insert id="insertTransaction" parameterType="Transaction">
        INSERT INTO statement (statement_id, tx_datetime, raw_desc, indexed_desc, account)
        VALUES (#{statementId}, #{txDateTime}, #{rawDescription}, #{indexedDescription}, #{amount})
    </insert>

</mapper>


