<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.appedia.bassat.persistence.TransactionMapper">

    <cache/>

    <insert id="insertTransaction" parameterType="Transaction">
        INSERT INTO transaction (statement_id, tx_date, description, amount)
        VALUES (#{statementId}, #{txDate}, #{description}, #{amount})
    </insert>

</mapper>



